@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Hind+Siliguri:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600&display=swap');

//colors

$primaryColor : #ffffff;
$secondaryColor : #006D77;
$accentColor : #F0F3BD;
$textColor : #023684;
$textColorSecondary : #313131;

// font
$FontSize : (
    "small" : 12px,
    "regular" : 16px,
    "medium"  : 20px,
    "big" : 30px,
    "veryBig" : 50px,
    "headingBig" : 60px
);

// Display Sizes

$mdDisplay : 1024px;
$tabDisplay : 768px;
$mobileDisplay : 500px;
$smallMobileDisplay : 320px;